{% extends 'base.html' %}

{% block title %}Страница регистрации{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/signup.css">
<style>
    h1 {
        margin: 0 auto;
        text-align: center;
        display: block;
        width: 50%;
    }
</style>
<style>

    .center {
        text-align: center;
    }
</style>

<br><br><br>
<br>
<h1 class="center">Регистрация</h1>
<br>
{% if message %}
<h3 style="color:red">{{ message }}</h3>
{% endif %}

{% for field, errors in form.errors.items() %}
<p>
    {{ ', '.join(errors) }}
</p>
{% endfor %}

<form method="post" action="">
    <div class="form">
        {{ form.csrf_token }}
        {{ form.name.label }} {{ form.name }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        {{ form.submit }}
    </div>
</form>

{% endblock %}