{% extends 'base.html' %}

{% block title %}Страница про питание{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
    <div class=" justify-content-center">
        <title>Питание</title>
        <!-- dependencies (jquery, handlebars and bootstrap) -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <!-- alpaca -->
        <link type="text/css" href="//cdn.jsdelivr.net/npm/alpaca@1.5.27/dist/alpaca/bootstrap/alpaca.min.css"
              rel="stylesheet"/>
        <script type="text/javascript"
                src="//cdn.jsdelivr.net/npm/alpaca@1.5.27/dist/alpaca/bootstrap/alpaca.min.js"></script>

        <div id="form1"></div>
        <button id="submitBtn" class="btn btn-primary">Отправить данные</button> <!-- Кнопка отправки -->
        <script type="text/javascript">
            $(document).ready(function () {
                $("#form1").alpaca({
                    "data": [{}],
                    "title": "form",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "title": "Продукт",
                                    "type": "string"
                                },
                                "value": {
                                    "title": "Граммы",
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "options": {
                        "type": "table",
                        "datatables": {
                            "searching": true
                        }
                    }
                });


                $("#submitBtn").click(function () {
                    var data = $("#form1").alpaca("get").getValue();
                    //
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/receive_callories', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify(data));
                    window.location.href='/profile'
                    //
                    console.log(data);
                });
            });
        </script>
    </div>
{% endblock %}
